:root {
  --coklat: #836435;
  --pth: #f3f1e7;
  --htm: #232325;
  --shadow: rgba(0, 0, 0, 0.79);
  --gradient: linear-gradient(90deg, #826435, #6C5220);
}
html {scroll-behavior: smooth;}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: visible;
}

.aws {
  position: absolute;
  background-position: center;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url(assets/sda.jpg);
  background-size: 21%;
  z-index: 1;
  transition: 3s ease 5s;
}

/* core-section */
.core {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 100;
  justify-content: center;
  background-image:url(assets/img/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.core::before,
.core::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 37%;
  background-image: linear-gradient(180deg, var(--htm), transparent);
}

.core::after {
  bottom: 0;
  background-image: linear-gradient(0deg, var(--htm), transparent);
  height: 18%;
}

.core .row {
  z-index: 130;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.core .row #kertas1,
.core .row #kertas2 {
  display: flex;
  position: absolute;
  width: 90%;
  filter: drop-shadow(2px 3px 5px var(--shadow));
}

.core .row #kertas1 {
  transition: 1s ease;
  animation:kermas1 2s ease forwards, wigglek 2s ease-in-out 2.3s infinite alternate;
}

@keyframes kermas1 {
  0% {transform: translate(0, -30%); opacity: 0;}
  100% {transform: translate(0, 1.07%);}
}

@keyframes kerkel1 {
  to {transform: translate(0, -100vw); opacity: 0;}
}

@keyframes wigglek {
  0%  {transform: translate(0, 1.07%);}
  50% {transform: translate(0%, 0%);}
  100%{transform: translate(0, -1.05%);}
}

@keyframes rotk2 {
  from  {transform: scale(1.13) rotate(3deg);}
  to    {transform: scale(1.1) rotate(5deg);}
}

@keyframes kermas2 {
  0% {transform:translate(0, 25%); opacity: 0;}
  100% {transform:translate(0, 0) scale(1.13) rotate(3deg); opacity: 1;}
}

@keyframes kerkel2 {
  to {transform: translateY(-100%); opacity: 0;}
}

.core .row #kertas2 {
  transition: 1s ease;
  animation:kermas2 3s ease forwards, rotk2 3s ease 3s infinite alternate;
}

.core .row #lineart {
  position: absolute;
  display: flex;
  z-index: 3;
  max-width: 70%;
  animation: linemas 7s ease  forwards;
}

@keyframes linemas {
  0%   {transform: translateY(0); opacity: 0;}
  30%   {transform: translateY(0); opacity: 0;}
  100% { transform: translateY(-17%); opacity: 1;}
}

@keyframes lineout {
  0% { transform: translateY(-17%); opacity: 1;}
  23% { transform: translateY(-17%); opacity: 1;}
  100% { transform: translateY(-17%); opacity: 0;}
}

.core .row #kembang {
  display: flex;
  position: absolute;
  z-index: 7;
  top: 0;
  left: 0;
  transition: ease;
  animation: anmasuk1 3s ease forwards, anmk1 3.5s ease-in-out 3s infinite alternate;
}

@keyframes anmk1 {
  0% {transform: scale(1) translate3d(-15%, -15%, 0px);}
  100% {transform: scale(1.1) translate3d(-13%, -15%, 0px) ;}
}

@keyframes anmasuk1 {
  0% {transform:translate3d(-100%, -15%, 0px) ;opacity: 0;}
  100% {transform:translate3d(-15%, -15%, 0px);opacity: 1;}
}

@keyframes anmk2 {
  0% {transform: scale(-1) translate3d(-15%, -15%, 0px);}
  100% {transform: scale(-1.1) translate3d(-13%, -15%, 0px);}
}

@keyframes anmasuk2 {
  0% {transform: scale(-1.1) translate3d(-100%, -15%, 0px);opacity: 0;}
  100% {transform: scale(-1) translate3d(-15%, -15%, 0px);opacity: 1;}
}

@keyframes keluark1 {
  to {transform: scale(1) translate3d(-100%, -15%, 0px)}
}

@keyframes keluark2 {
  0% {transform: scale(-1.1) translate3d(-13%, -15%, 0px); display: flex;}
  100% {transform: scale(-1.1) translate3d(-100%, -15%, 0px);display: none;}
}

.core .row #kembang2 {
  display: flex;
  position: absolute;
  z-index: 7;
  right: 0;
  bottom: 0;
  animation: anmasuk2 3s ease forwards, anmk2 3.7s ease-in-out 3s infinite alternate;
}

.core .row #kembang,
.core .row #kembang2 {
  filter: drop-shadow(3px 3px 7px  var(--shadow));
}

.core .row #tombol {
  animation: transtomb 4s ease forwards;
}

.core .row #tekanTombol {
  animation: transtomb 4s ease forwards;
}

.core .row #textTamu {
  animation: transtomb 4s ease forwards;
}

.core .row .tamu{
  animation: transtomb 4s ease forwards;
}

@keyframes transtomb {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes ktomb {
  from {opacity: 1;}
  to {opacity: 0;}
}

.core .row #tombol{
  display: flex;
  position: absolute;
  width: 75%;
  z-index: 2;
  transform: translateY(284%);
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 1.2s ease;
}

.core .row #tekanTombol {
  position: absolute;
  z-index: 9;
  font-family: "Corinthia", serif;
  transform: translateY(455%);
  background-color: transparent;
  border-color: transparent;
  color: var(--pth);
  width: 100vw;
  font-size: 7vw;
  opacity: 1;
  transition: 1s ease;
}

.core .row #textJudul {
  display: flex;
  position: absolute;
  z-index: 9;
  width: 55%;
  transition: 1s ease;
  animation: judulm 2s ease forwards;
}

@keyframes judulm {
  0% {transform: translate(23%, -100%); opacity: 0;}
  100% {transform: translate(23%, -143%); opacity: 1;}
}

@keyframes judulk {
  from {transform: translate(23%, -143%); opacity: 1; display: flex;}
  to {transform: translate(100%, -143%); opacity: 0; display: none}
}

.core .row #textTamu {
  display: flex;
  position: absolute;
  z-index: 9;
  width: 70%;
  transform: translateY(131%);
  opacity: 1;
  transition: 1.2s ease;
}

.core .row .tamu {
  display: flex;
  position: absolute;
  z-index: 9;
  width: 100%;
  font-size: 5.7vw;
  justify-content: center;
  transform: translateY(313%);
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  color: var(--pth);
  transition: 1.2s ease;
  opacity: 1;
}

.core .row .slamet {
  display: none;
  position: absolute;
  z-index: 8;
  align-items: center;
  justify-content: center;
  background-color: var(--htm);
  height: 100vh;
  width: 100%;
  opacity: 0;
  animation: mhitam 10s ease;
}

@keyframes mhitam {
  0% {opacity: 0;}
  25% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}

.core .row .slamet #sugengrawuh {
  display: flex;
  position: absolute;
  width: 80%;
  transform: translate(0, 0);
  animation: msalam 10s ease-in-out;
}

@keyframes msalam {
  0%  {opacity: 0; transform: scale(0);}
  25% {opacity: 0;transform: scale(0.9);}
  50% {opacity: 1;transform: scale(1);}
  75% {opacity: 1;transform: scale(1);}
  100%{opacity: 0;transform: scale(1);}
}

.core .row .slamet #aksen1 {
  display: flex;
  position: absolute;
  height: 27%;
  transform: translateY(13%);
  animation: maksen1 10s ease;
}

@keyframes maksen1 {
  0% {opacity: 0;}
  10% {opacity: 0;}
  40% {opacity: 0;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.core .row .slamet #akstitan {
  display: flex;
  position: absolute;
  height: 25%;
  top: 5%;
  left: 5%;
}

.core .row .slamet #aksnando {
  display: flex;
  position: absolute;
  height: 20%;
  bottom: 7%;
  right: 7%;
}

.core .row .slamet #akstitan,
.core .row .slamet #aksnando {
  animation: aksara 10s ease;
}

@keyframes aksara {
    0% {opacity: 0;}
    10% {opacity: 1;}
    40% {opacity: 0;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}


.core .titandannando {
  display: none;
  z-index: 130;
  position: absolute;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.core .titandannando #textwedding1 {
  display: flex;
  padding: 21%;
  position: absolute;
  top: 0;
  width: 23%;
  opacity: 0;
  animation: masukjudul 2s ease 9s forwards;
}

.core .titandannando #textpengantin1 {
  display: flex;
  position: absolute;
  top: 0;
  width: 70%;
  padding-top: 27%;
  opacity: 0;
  animation: masukjudul 2s ease 9.5s forwards;
}

.core .titandannando #tanggal1 {
  display: flex;
  position: absolute;
  top: 0;
  width: 32%;
  padding-top: 36%;
  opacity: 0;
  animation: masukjudul 2s ease 10s forwards;
}

@keyframes masukjudul {
  0% {transform: translate(0,-23%); opacity: 0;}
  100% {transform: translate(0,0); opacity: 1;}
}

.core .titandannando #scroll-btn {
  position: absolute;
  height: 4em;
  width: 2em;
  border: 0.175em solid var(--pth);
  margin: auto;
  left: 0;
  right: 0;
  bottom: 9.25em;
  border-radius: 5em;
  opacity: 0;
  animation: masukjudul 2s ease 11s forwards;
}
.core .titandannando a#scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 0.2em;
  height: 0.5em;
  width: 0.5em;
  background-color: var(--pth);
  border-radius: 50%;
  animation: move-down 2s infinite;
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(2.5em);
    opacity: 0;
  }
}
/* akad-section */
.akad {
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--coklat);
}

.akad .row {
  display: flex;
  flex: 30%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
  padding: 30% 0;
}

.akad .row::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 9%;
  background-image: linear-gradient(180deg, var(--pth), transparent);
}


/* Page1 */
.akad .row .page1 {
  display: flex;
  width: 97%;
  background-image: var(--gradient);
  flex-direction: column;
  align-items: center;
  border-top: 5px double var(--pth);
  border-right: 5px double var(--pth);
  border-left: 5px double var(--pth);
  border-bottom: 2px solid var(--pth);
}
.akad .row .page1 .judul{
  display: flex;
  padding: 25% 0 3%;
  width: 60%;
}
.akad .row .page1 .bar {
  display: flex;
  width: 90%;
  padding: 0% 1%;
  justify-content: space-between;
  border-top: 0.5px ridge var(--pth);
  border-bottom: 0.5px double var(--pth);
  align-items: center;
}
.akad .row .page1 .bar .tg,
.akad .row .page1 .bar .wk {
  display: flex;
  height: 50%;
}
.akad .row .page1 .paragraf{
  display: flex;
  text-align: justify;
  text-align-last: center;
  width: 90%;
}
.akad .row .page1 p.paragraf {
  font-size: 53%;
  font-family: "Bodoni Moda", serif;
  color: var(--pth);
  line-height: 123%;
}

/* Page2 */
.akad .row .page2 {
  display: flex;
  width: 97%;
  background-image: var(--gradient);
  flex-direction: column;
  align-items: center;
  border-right: 5px double var(--pth);
  border-left: 5px double var(--pth);
}
.akad .row .page2 .judul {
  display: flex;
  width: 91%;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid var(--pth);
  padding: 0% 2.5%;
}
.akad .row .page2 .judul h1{
  margin: 0;
  font-family: "Bodoni Moda", serif;
  color: var(--pth);
  font-size: 300%;
  letter-spacing: 5px;
  line-height: 100%;
}
.akad .row .page2 .info {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.akad .row .page2 .info .peta {
  display: flex;
  flex: 70%;
  justify-content: center;
  align-items: center;
}
.akad .row .page2 .info .peta .k {
  width: 95%;
  height: 95%;
  background-color: saddlebrown;
}

.akad .row .page2 .info .waktu {
  flex: 50%;
  text-align: center;
  margin-right: 2%;
}
.akad .row .page2 .info .waktu h3,
.akad .row .page3 .info .resepsi .waktu h3 {
  margin: 0;
  color: var(--pth);
  font-family:"Bodoni Moda", serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 150%;
  border-bottom: 0.1px solid var(--pth);
}
.akad .row .page2 .info .waktu h4,
.akad .row .page3 .info .resepsi .waktu h4 {
  margin: 0;
  color: var(--pth);
  font-family:"Bodoni Moda", serif;
  font-size: 120%;
}
.akad .row .page2 .info .waktu .pukul,
.akad .row .page3 .info .resepsi .waktu .pukul {
  display: flex;
  padding-bottom: 3%;
  border-bottom: 3px double var(--pth);
  justify-content: space-around;
  align-items: center;
}
.akad .row .page2 .info .waktu .pukul h5,
.akad .row .page3 .info .resepsi .waktu .pukul h5 {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Bodoni Moda", serif;
  font-weight: 200;
  color: var(--pth);
  border: 0.1pt solid  var(--pth);
  align-items: center;
  justify-content: center;
}
.akad .row .page2 .info .waktu .pukul h4,
.akad .row .page3 .info .resepsi .waktu .pukul h4 {
  padding: 0 5%;
  margin:0 3%;
  border-left: 0.5px solid  var(--pth);
  border-right: 0.5px solid  var(--pth);
}
.akad .row .page2 .info .waktu p,
.akad .row .page3 .info .resepsi .waktu p{
  margin: 0;
  font-family: "Bodoni Moda", serif;
  font-size: 70%;
  line-height: 120%;
  text-align: justify;
  text-align-last: center;
  color: var(--pth);
  padding: 3% 0 ;
  border-bottom: 0.3px solid var(--pth);
}
.akad .row .page2 .info .waktu button, 
.akad .row .page3 .info .resepsi .waktu button{
  width: 85%;
  padding: 6% 0;
  margin: 9% 0;
  font-family: "Bodoni Moda", serif;
  background-color: var(--coklat);
  border: 3px double var(--pth);
  color: var(--pth);
  letter-spacing: 2px;
}


/* Page3 */
.akad .row .page3 {
  display: flex;
  background-image: var(--gradient);
  width: 97%;
  flex-direction: column;
  flex-wrap: wrap;
  border: 5px double var(--pth);
  border-top: none;
}
.akad .row .page3 .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.akad .row .page3 .info .resepsi {
  display: flex;
  flex: 15%;
  margin: 1%;
  flex-direction: column;
  text-align: center;
  color: var(--pth);
}
.akad .row .page3 .info .resepsi h2 {
  font-family: "Bodoni Moda", serif;
  font-size: 213%;
  letter-spacing: 5px;
  padding: 7% 0 3%;
  margin: 0;
}
.akad .row .page3 .info .resepsi .waktu {
  display: flex;
  flex-direction: column;
  padding: 3%;
  border: 1px solid;
}
.akad .row .page3 .info .resepsi .waktu button {
  align-self: center;
}
.akad .row .page3 .info .aksen {
  padding-top: 5%;
  display: flex;
  flex: 42%;
  flex-direction: column;
  text-align: justify;
  text-align-last: center;
  color: var(--pth);
}
.akad .row .page3 .info .aksen .baris1 {
  display: flex;
  flex-direction: row;
  margin: 2%;
}
.akad .row .page3 .info .aksen .baris1 .gambar {
  height: fit-content;
  width: 60%;
  padding: 3%;
  align-self: center;
}
.akad .row .page3 .info .aksen .baris1 p{
  display: flex;
  font-family: "Bodoni Moda", serif;
  font-weight: 200;
  flex: 50%;
  font-size: 8px;
  margin: 0;
}
.akad .row .page3 .info .aksen p {
  font-size: 8px;
  margin: 2%;
  font-family: "Bodoni Moda", serif;
  font-weight: 200;
}
.akad .row .page3 .info .aksen h5 {
  margin: 3% auto 0;
  padding: 3% 9% 0;
  font-family: "Corinthia", serif;
  font-weight: 600;
  border-top: 1px solid;
}

.akad .row .page3 .penutup {
  display: flex;
  text-align-last: center;
  justify-content: center;
  padding: 2% 0 10%;
}
.akad .row .page3 .penutup p {
  width: 95%;
  color: var(--pth);
  font-family: "Bodoni Moda", serif;
  padding: 1%;
  font-size: 9px;
  letter-spacing: 1px;
  text-align: justify;
  border-top: 1px solid ;
}

.akad .row .countdown {
  display: flex;
  background-image: var(--gradient);
  width: 97%;
  justify-content: space-around;
  align-items: center;
  color: var(--pth);
  border: 5px  double;
}


/* couple-section */
.couple {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.couple::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 37%;
  background-image: linear-gradient(180deg, white, transparent);
}

.couple .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--pth);
}

.couple .row #kalpembuka {
  position: relative;
  color: var(--coklat);
  font-family: "Bodoni Moda", serif;
  font-weight: 200;
  padding: 7% 3%;
}

/* Titania Nurul Anisa */
.couple .row #fotoTitania,
.couple .row #fotoNando {
  display: flex;
  position: relative;
  width: 50%;
  padding: 13%  0;
  animation: outfadeB 2s ease forwards;

}

.couple .row #namaTitan,
.couple .row #namaNando{
  display: flex;
  position: relative;
  width: 70%;
  padding: 7% 0;
  animation: outfadeB 2s ease forwards;
}

.couple .row #igTitan,
.couple .row #igNando {
  display: flex;
  position: relative;
  width: 43%;
  padding: 3% 0 10% 0;
  animation: outfadeB 2s ease forwards;
}

.couple .row #fotoTitania.anm.show,
.couple .row #fotoNando.anm.show,
.couple .row #namaTitan.anm.show,
.couple .row #namaNando.anm.show,
.couple .row #igTitan.anm.show,
.couple .row #igNando.anm.show {
  animation: anfadeB 2s ease forwards;
}

@keyframes outfadeB {
  to {transform: translateY(50%); opacity: 0;}
}
/* &&& */
.core .row #batasDan {
  display: flex;
  position: relative;
  padding: 50% 0;
  width: 100%;
}

/* quote-section */
.quote {
  display: flex;
  position: relative;
  z-index:1;
  width: 100%;
  background-color: var(--pth);
  justify-content: center;
}

.quote::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 12%;
  top: -1px;
  background-image: linear-gradient(180deg, var(--htm), transparent);
}

.quote .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.quote .row #kembangq {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  animation: outfadeB 2s ease forwards;
}
.quote .row #kembangq.anm.show  {
  animation: anmasuk1 3s ease forwards, anmk1 3.5s ease-in-out 3s infinite alternate;
}

.quote .row #kembangq2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  animation: outfadeB 2s ease forwards;
  overflow-x: hidden;
}
.quote .row #kembangq2 {
  animation: anmasuk2 3s ease forwards, anmk2 3.7s ease-in-out 3s infinite alternate;
}

.quote .row #tnl {
  display: flex;
  max-width: 25%;
  padding: 17% 0% 7% 61%;
  z-index: 1;
  animation: outfadeB 2s ease forwards;
}

.quote .row .kata {
  display: flex;
  z-index: 0;
  background-color: var(--coklat);
  width: 100%;
  justify-content: center;
  padding: 15% 0;
  box-shadow: inset 0 0 45px 0px var(--htm);
}

.quote .row .kata #stampel {
  display: flex;
  position: relative;
  max-width: 90%;
  z-index: 1;
  animation: outfadeB 2s ease forwards;
}

.quote .row #ucpan {
  display: flex;
  color: var(--coklat);
  width: 88%;
  font-size: 27px;
  text-align: left;
  padding: 10% 0;
  font-family: "Bodoni Moda", serif;
  line-height: 27px;
  z-index: 1;
  text-shadow: 13px 13px 3px rgb(0 0 0 / 17%);
  animation: outfadeB 2s ease forwards;
}

.quote .row #tnl.anm.show ,
.quote .row #stampel.anm.show ,
.quote .row #ucpan.anm.show {
  animation: anfadeB 2s ease forwards;
}

@keyframes anfadeB {
  from {transform: translateY(50%); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}

/* story-section */
.story {
  position: relative;
  z-index: 0;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  background-color: var(coklat);
}

.story .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.story .row #line {
  display: flex;
  width: 30%;
}
.story .row #giftf {
  display: flex;
  width: 55%;
  padding: 3% 12% 5%;
  border-bottom: 2px solid var(--coklat);
}
.story .row .wed {
  display: flex;
  width: 95%;
  /* background-color: #232325; */
  padding: 10% 0;
}
.story .row .wed .foto {
  display: flex;
  flex: 20%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
.story .row .wed .foto #frame {
  position: absolute;
  display: flex;
  width: fit-content;
  height: 100%;
}
.story .row .wed .foto::after {
  content: '';
  display: flex;
  position: absolute;
  width: 193%;
  height: 89%;
  background-image: url(./assets/img/couple.jpg);
  background-size: cover;
  background-position: right;
}
.story .row .wed .hadiah {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  flex: 54%;
  /* background-color: #daceb9; */
  font-family: "Bodoni Moda", serif;
  color: var(--coklat);
}
.story .row .wed .hadiah p {
  font-size: 8px;
  font-weight: 200;
  margin: 0;
  text-align: justify;
  line-height: 100%;
  padding-bottom: 5%;
  border-bottom: 1px solid;
  text-align-last: center;
}
.story .row .wed .hadiah span {
  font-weight: 800;
}
.story .row .wed .hadiah .alamat {
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  margin: 3% 0;
  border: 1px solid;
}
.story .row .wed .hadiah .alamat #hd {
  width: 50%;
  align-self: center;
  padding: 3%;
}
.story .row .wed .hadiah .alamat h5 {
  display: flex;
  font-size: 8px;
  align-self: center;
  text-align: center;
  margin: 0 0 10%;
  padding: 3% 0;
  width: 90%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.story .row .wed .hadiah .atmtitan,
.story .row .wed .hadiah .atmnando {
  display: flex;
  color: var(--htm);
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  border: 1px solid;
  color: var(--coklat);
}
.story .row .wed .hadiah .atmtitan #mandiri,
.story .row .wed .hadiah .atmnando #bca {
  display: flex;
  flex: 17%;
  width: 31%;
  margin: 3%;
  height: fit-content;
}
.story .row .wed .hadiah .atmtitan #noT, 
.story .row .wed .hadiah .atmnando #noN {
  display: flex;
  flex: 70%;
  flex-direction: column;
  width: 90%;
  align-items: center;
}
.story .row .wed .hadiah .atmtitan #noT h3, 
.story .row .wed .hadiah .atmnando #noN h3{
  font-size: 8px;
  margin: 0;
  padding-top: 4%;
}
.story .row .wed .hadiah .atmtitan #noT h2, 
.story .row .wed .hadiah .atmnando #noN h2 {
  font-size: 13px;
  margin: 0;
}
.story .row .wed .hadiah .atmtitan #noT button, 
.story .row .wed .hadiah .atmnando #noN button {
  font-family: "Bodoni Moda";
  background-color: var(--coklat);
  color: var(--pth);
  border: transparent;
  width: 37%;
  margin-bottom: 7%;
  font-size: 10px;
}


/* RSVP-Section */
.RSVP {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
  height: 100vh;
}

.RSVP .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
}

.RSVP .row form {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 2%;
  border: 3px double var(--pth);
}

.RSVP .row #ungkapan {
  display: flex;
  width: 50%;
  padding: 0 5% 3%;
}

.RSVP .row .konfir-nama {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.RSVP .row .konfir-hadir {
  display: flex;
  width: 102%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.RSVP .row .konfir-komen {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.RSVP .row .konfir-kirim {
  display: flex;
  background-color: purple;
  width: 97%;
  height: 11%;
}

.RSVP .row .konfir-form {
  display: flex;
  background-color: var(--coklat);
  width: 95%;
  height: 90%;
  border: 1px solid;
  color: var(
  --pth);
  font-family: 'Bodoni Moda';
  text-align: center;
  align-items: center;
}
.RSVP .row button {
  width: 100%;
  background-color: var(--pth);
  border: transparent;
}


.RSVP .row .tempat-komentar {
  width: 100%;
  height: 50%;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  background-color: darkgray;
}



#data-tbody {
  display: flex;
  width: 100%;
  background-color: white;
}

/* Gift-section */
.gift {
  position: relative;
  z-index: 0;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.gift .row {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* footer */
footer {
  display: flex;
  background-color: var(coklat);
  padding: 2rem;
  justify-content: center;
}