:root {
  --coklat: #836435;
  --pth: #f3f1e7;
  --htm: #232325;
  --shadow: rgba(0, 0, 0, 0.79);
  --gradient: linear-gradient(90deg, #826435, #6C5220);
}
html {scroll-behavior: smooth;}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--htm);
}


#pause-btn {
  display: flex;
  scale: 0.3;
  position: fixed;
  z-index: 999;
  bottom: -40px;
  right: -40px;
  opacity: 0;
  -webkit-transition: 3s ease;
  rotate: 0deg;
}

/* Tambahkan animasi rotasi */
@-webkit-keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}


/* Class untuk mengaktifkan rotasi */
.rotating {
  -webkit-animation: rotate 10s linear infinite;
}


/* Loading Section */
.loading {
  display: flex;
  position: fixed;
  z-index: 200;
  background-color: #232325;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: 2s ease;
}

.aws {
  overflow: hidden;
  position: absolute;
  background-position: center;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url(assets/sda.jpg);
  background-size: 21%;
  z-index: 1;
  -webkit-transition: 3s ease 5s;
}

/* core-section */
.core {
  overflow: hidden;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 100;
  justify-content: center;
  background-image:url(assets/img/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.core::before,
.core::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 37%;
  background-image: linear-gradient(180deg, var(--htm), transparent);
}

.core::after {
  bottom: 0;
  background-image: linear-gradient(0deg, var(--htm), transparent);
  height: 18%;
}

.core .row {
  z-index: 130;
  display: none;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.core .row #kertas1,
.core .row #kertas2 {
  display: flex;
  position: absolute;
  width: 90%;
  filter: drop-shadow(2px 3px 5px var(--shadow));
}

.core .row #kertas1 {
  -webkit-transition: 1s ease;
  -webkit-animation:kermas1 2s ease forwards, wigglek 2s ease-in-out 2.3s infinite alternate;
}

@-webkit-keyframes kermas1 {
  0% {-webkit-transform: translate(0, -30%); opacity: 0;}
  100% {-webkit-transform: translate(0, 1.07%);}
}

@-webkit-keyframes kerkel1 {
  to {-webkit-transform: translate(0, -100vw); opacity: 0;}
}

@-webkit-keyframes wigglek {
  0%  {-webkit-transform: translate(0, 1.07%);}
  50% {-webkit-transform: translate(0%, 0%);}
  100%{-webkit-transform: translate(0, -1.05%);}
}

@-webkit-keyframes rotk2 {
  from  {-webkit-transform: scale(1.13) rotate(3deg);}
  to    {-webkit-transform: scale(1.1) rotate(5deg);}
}

@-webkit-keyframes kermas2 {
  0% {-webkit-transform:translate(0, 25%); opacity: 0;}
  100% {-webkit-transform:translate(0, 0) scale(1.13) rotate(3deg); opacity: 1;}
}

@-webkit-keyframes kerkel2 {
  to {-webkit-transform: translateY(-100%); opacity: 0;}
}

.core .row #kertas2 {
  -webkit-transition: 1s ease;
  -webkit-animation:kermas2 3s ease forwards, rotk2 3s ease 3s infinite alternate;
}

.core .row #lineart {
  position: absolute;
  display: flex;
  z-index: 3;
  max-width: 70%;
  -webkit-animation: linemas 7s ease  forwards;
}

@-webkit-keyframes linemas {
  0%   {-webkit-transform: translateY(0); opacity: 0;}
  30%   {-webkit-transform: translateY(0); opacity: 0;}
  100% { -webkit-transform: translateY(-17%); opacity: 1;}
}

@-webkit-keyframes lineout {
  0% { -webkit-transform: translateY(-17%); opacity: 1;}
  23% { -webkit-transform: translateY(-17%); opacity: 1;}
  100% { -webkit-transform: translateY(-17%); opacity: 0;}
}

.core .row #kembang {
  display: flex;
  position: absolute;
  z-index: 7;
  top: 0;
  left: 0;
  -webkit-transition: ease;
  -webkit-animation: anmasuk1 3s ease forwards, anmk1 3.5s ease-in-out 3s infinite alternate;
}

@-webkit-keyframes anmk1 {
  0% {-webkit-transform: scale(1) translate3d(-15%, -15%, 0px);}
  100% {-webkit-transform: scale(1.1) translate3d(-13%, -15%, 0px) ;}
}

@-webkit-keyframes anmasuk1 {
  0% {-webkit-transform:translate3d(-100%, -15%, 0px) ;opacity: 0;}
  100% {-webkit-transform:translate3d(-15%, -15%, 0px);opacity: 1;}
}

@-webkit-keyframes anmk2 {
  0% {-webkit-transform: scale(-1) translate3d(-15%, -15%, 0px);}
  100% {-webkit-transform: scale(-1.1) translate3d(-13%, -15%, 0px);}
}

@-webkit-keyframes anmasuk2 {
  0% {-webkit-transform: scale(-1.1) translate3d(-100%, -15%, 0px);opacity: 0;}
  100% {-webkit-transform: scale(-1) translate3d(-15%, -15%, 0px);opacity: 1;}
}

@-webkit-keyframes keluark1 {
  to {-webkit-transform: scale(1) translate3d(-100%, -15%, 0px)}
}

@-webkit-keyframes keluark2 {
  0% {-webkit-transform: scale(-1.1) translate3d(-13%, -15%, 0px); display: flex;}
  100% {-webkit-transform: scale(-1.1) translate3d(-100%, -15%, 0px);display: none;}
}

.core .row #kembang2 {
  display: flex;
  position: absolute;
  z-index: 7;
  right: 0;
  bottom: 0;
  -webkit-animation: anmasuk2 3s ease forwards, anmk2 3.7s ease-in-out 3s infinite alternate;
}

.core .row #kembang,
.core .row #kembang2 {
  filter: drop-shadow(3px 3px 7px  var(--shadow));
}

.core .row #tombol {
  -webkit-animation: transtomb 4s ease forwards;
}

.core .row #tekanTombol {
  -webkit-animation: transtomb 4s ease forwards;
}

.core .row #textTamu {
  -webkit-animation: transtomb 4s ease forwards;
}

.core .row .tamu{
  -webkit-animation: transtomb 4s ease forwards;
}

@-webkit-keyframes transtomb {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes ktomb {
  from {opacity: 1;}
  to {opacity: 0;}
}

.core .row #tombol{
  display: flex;
  position: absolute;
  width: 75%;
  z-index: 5;
  -webkit-transform: translateY(284%);
  justify-content: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: 1.2s ease;
}

.core .row #tekanTombol {
  position: absolute;
  z-index: 9;
  font-family: "Corinthia", serif;
  -webkit-transform: translateY(428%);
  background-color: transparent;
  border-color: transparent;
  color: var(--pth);
  width: 100vw;
  font-size: 7vw;
  opacity: 1;
  -webkit-transition: 1s ease;
}

.core .row #textJudul {
  display: flex;
  position: absolute;
  z-index: 9;
  width: 55%;
  -webkit-transition: 2s ease;
  -webkit-animation: judulm 2s ease forwards;
}

@-webkit-keyframes judulm {
  0% {-webkit-transform: translate(23%, -100%); opacity: 0;}
  100% {-webkit-transform: translate(23%, -143%); opacity: 1;}
}

@-webkit-keyframes judulk {
  from {-webkit-transform: translate(23%, -143%); opacity: 1; display: flex;}
  to {-webkit-transform: translate(100%, -143%); opacity: 0; display: none}
}

.core .row #textTamu {
  display: flex;
  position: absolute;
  z-index: 9;
  width: 70%;
  -webkit-transform: translateY(131%);
  opacity: 1;
  -webkit-transition: 1.2s ease;
}

.core .row .tamu {
  display: flex;
  position: absolute;
  z-index: 9;
  width: 100%;
  font-size: 5.7vw;
  justify-content: center;
  -webkit-transform: translateY(313%);
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  color: var(--pth);
  -webkit-transition: 1.2s ease;
  opacity: 1;
}

.core .row .slamet {
  display: none;
  position: absolute;
  z-index: 8;
  align-items: center;
  justify-content: center;
  background-color: var(--htm);
  height: 100vh;
  width: 100%;
  opacity: 0;
  -webkit-animation: mhitam 10s ease;
}

@-webkit-keyframes mhitam {
  0% {opacity: 0;}
  25% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}

.core .row .slamet #sugengrawuh {
  display: flex;
  position: absolute;
  width: 80%;
  -webkit-transform: translate(0, 0);
  -webkit-animation: msalam 10s ease-in-out;
}

@-webkit-keyframes msalam {
  0%  {opacity: 0; -webkit-transform: scale(0);}
  25% {opacity: 0;-webkit-transform: scale(0.9);}
  50% {opacity: 1;-webkit-transform: scale(1);}
  75% {opacity: 1;-webkit-transform: scale(1);}
  100%{opacity: 0;-webkit-transform: scale(1);}
}

.core .row .slamet #aksen1 {
  display: flex;
  position: absolute;
  height: 27%;
  -webkit-transform: translateY(13%);
  -webkit-animation: maksen1 10s ease;
}

@-webkit-keyframes maksen1 {
  0% {opacity: 0;}
  10% {opacity: 0;}
  40% {opacity: 0;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.core .row .slamet #akstitan {
  display: flex;
  position: absolute;
  height: 25%;
  top: 5%;
  left: 5%;
}

.core .row .slamet #aksnando {
  display: flex;
  position: absolute;
  height: 20%;
  bottom: 7%;
  right: 7%;
}

.core .row .slamet #akstitan,
.core .row .slamet #aksnando {
  -webkit-animation: aksara 10s ease;
}

@-webkit-keyframes aksara {
    0% {opacity: 0;}
    10% {opacity: 1;}
    40% {opacity: 0;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}


.core .titandannando {
  display: none;
  z-index: 130;
  position: absolute;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.core .titandannando #textwedding1 {
  display: flex;
  padding: 21%;
  position: absolute;
  top: 0;
  width: 23%;
  opacity: 0;
  -webkit-animation: masukjudul 2s ease 9s forwards;
}

.core .titandannando #textpengantin1 {
  display: flex;
  position: absolute;
  top: 0;
  width: 70%;
  padding-top: 27%;
  opacity: 0;
  -webkit-animation: masukjudul 2s ease 9.5s forwards;
}

.core .titandannando #tanggal1 {
  display: flex;
  position: absolute;
  top: 0;
  width: 32%;
  padding-top: 36%;
  opacity: 0;
  -webkit-animation: masukjudul 2s ease 10s forwards;
}

@-webkit-keyframes masukjudul {
  0% {-webkit-transform: translate(0,-23%); opacity: 0;}
  100% {-webkit-transform: translate(0,0); opacity: 1;}
}

.core .titandannando #scroll-btn {
  position: absolute;
  height: 4em;
  width: 2em;
  border: 0.175em solid var(--pth);
  margin: auto;
  left: 0;
  right: 0;
  bottom: 9.25em;
  border-radius: 5em;
  opacity: 0;
  -webkit-animation: masukjudul 2s ease 11s forwards;
}
.core .titandannando a#scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 0.2em;
  height: 0.5em;
  width: 0.5em;
  background-color: var(--pth);
  border-radius: 50%;
  -webkit-animation: move-down 2s infinite;
}
@-webkit-keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(2.5em);
    opacity: 0;
  }
}
/* akad-section */
.akad {
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--coklat);
  opacity: 0;
  -webkit-transition: 2s ease;
}

.akad.anm.show {
  opacity: 1;
}

.akad .row {
  display: flex;
  flex: 30%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
  padding: 30% 0;
}

.akad .row::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 9%;
  background-image: linear-gradient(180deg, var(--pth), transparent);
}


/* Page1 */
.akad .row .page1 {
  display: flex;
  width: 97%;
  background-image: var(--gradient);
  flex-direction: column;
  align-items: center;
  border-top: 5px double var(--pth);
  border-right: 5px double var(--pth);
  border-left: 5px double var(--pth);
  border-bottom: 2px solid var(--pth);
}


.akad .row .page1 .judul{
  display: flex;
  padding: 25% 0 3%;
  width: 60%;
}
.akad .row .page1 .bar {
  display: flex;
  width: 90%;
  padding: 0% 1%;
  justify-content: space-between;
  border-top: 0.5px ridge var(--pth);
  border-bottom: 0.5px double var(--pth);
  align-items: center;
}
.akad .row .page1 .bar .tg,
.akad .row .page1 .bar .wk {
  display: flex;
  height: 50%;
}
.akad .row .page1 .paragraf{
  display: flex;
  text-align: justify;
  text-align-last: center;
  width: 90%;
}
.akad .row .page1 p.paragraf {
  font-size: 53%;
  font-family: "Bodoni Moda", serif;
  color: var(--pth);
  line-height: 123%;
}

/* Page2 */
.akad .row .page2 {
  display: flex;
  width: 97%;
  background-image: var(--gradient);
  flex-direction: column;
  align-items: center;
  border-right: 5px double var(--pth);
  border-left: 5px double var(--pth);
}
.akad .row .page2 .judul {
  display: flex;
  width: 91%;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid var(--pth);
  padding: 0% 2.5%;
}
.akad .row .page2 .judul h1{
  margin: 3% 0;
  font-family: "Bodoni Moda", serif;
  color: var(--pth);
  font-size: 263%;
  letter-spacing: 5px;
  line-height: 100%;
}
.akad .row .page2 .info {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.akad .row .page2 .info .peta {
  display: flex;
  flex: 70%;
  justify-content: center;
  align-items: center;
}
.akad .row .page2 .info .peta #maps {
  width: 95%;
  height: 93%;
}

.akad .row .page2 .info .waktu {
  flex: 50%;
  text-align: center;
  margin-right: 2%;
}
.akad .row .page2 .info .waktu h3,
.akad .row .page3 .info .resepsi .waktu h3 {
  margin: 0;
  color: var(--pth);
  font-family:"Bodoni Moda", serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 150%;
  border-bottom: 0.1px solid var(--pth);
}
.akad .row .page2 .info .waktu h4,
.akad .row .page3 .info .resepsi .waktu h4 {
  margin: 0;
  color: var(--pth);
  font-family:"Bodoni Moda", serif;
  font-size: 95%;
}
.akad .row .page2 .info .waktu .pukul,
.akad .row .page3 .info .resepsi .waktu .pukul {
  display: flex;
  padding-bottom: 3%;
  border-bottom: 3px double var(--pth);
  justify-content: space-around;
  align-items: center;
}
.akad .row .page2 .info .waktu .pukul h5,
.akad .row .page3 .info .resepsi .waktu .pukul h5 {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Bodoni Moda", serif;
  font-weight: 200;
  color: var(--pth);
  border: 0.1pt solid  var(--pth);
  align-items: center;
  justify-content: center;
}
.akad .row .page2 .info .waktu .pukul h4,
.akad .row .page3 .info .resepsi .waktu .pukul h4 {
  padding: 0 5%;
  margin:0 3%;
  border-left: 0.5px solid  var(--pth);
  border-right: 0.5px solid  var(--pth);
}
.akad .row .page2 .info .waktu p,
.akad .row .page3 .info .resepsi .waktu p{
  margin: 0;
  font-family: "Bodoni Moda", serif;
  font-size: 70%;
  line-height: 120%;
  text-align: justify;
  text-align-last: center;
  color: var(--pth);
  padding: 3% 0 ;
  border-bottom: 0.3px solid var(--pth);
}
.akad .row .page2 .info .waktu button, 
.akad .row .page3 .info .resepsi .waktu button{
  width: 85%;
  padding: 6% 0;
  margin: 9% 0;
  font-family: "Bodoni Moda", serif;
  background-color: var(--coklat);
  border: 3px double var(--pth);
  color: var(--pth);
  letter-spacing: 2px;
  cursor: pointer;
}


/* Page3 */
.akad .row .page3 {
  display: flex;
  background-image: var(--gradient);
  width: 97%;
  flex-direction: column;
  flex-wrap: wrap;
  border: 5px double var(--pth);
  border-top: none;
}
.akad .row .page3 .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.akad .row .page3 .info .resepsi {
  display: flex;
  flex: 15%;
  margin: 1%;
  flex-direction: column;
  text-align: center;
  color: var(--pth);
}
.akad .row .page3 .info .resepsi h2 {
  font-family: "Bodoni Moda", serif;
  font-size: 213%;
  letter-spacing: 5px;
  padding: 7% 0 3%;
  margin: 0;
}
.akad .row .page3 .info .resepsi .waktu {
  display: flex;
  flex-direction: column;
  padding: 3%;
  border: 1px solid;
}
.akad .row .page3 .info .resepsi .waktu button {
  align-self: center;
}
.akad .row .page3 .info .aksen {
  padding-top: 5%;
  display: flex;
  flex: 42%;
  flex-direction: column;
  text-align: justify;
  text-align-last: center;
  color: var(--pth);
}
.akad .row .page3 .info .aksen .baris1 {
  display: flex;
  flex-direction: row;
  margin: 2%;
}
.akad .row .page3 .info .aksen .baris1 .gambar {
  height: fit-content;
  width: 60%;
  padding: 3%;
  align-self: center;
}
.akad .row .page3 .info .aksen .baris1 p{
  display: flex;
  font-family: "Bodoni Moda", serif;
  font-weight: 200;
  flex: 50%;
  font-size: 7px;
  margin: 0;
}
.akad .row .page3 .info .aksen p {
  font-size: 7px;
  margin: 2%;
  font-family: "Bodoni Moda", serif;
  font-weight: 200;
}
.akad .row .page3 .info .aksen h5 {
  margin: 3% auto 0;
  padding: 3% 9% 0;
  font-family: "Corinthia", serif;
  font-weight: 600;
  border-top: 1px solid;
}

.akad .row .page3 .penutup {
  display: flex;
  text-align-last: center;
  justify-content: center;
  padding: 2% 0 10%;
}
.akad .row .page3 .penutup p {
  width: 95%;
  color: var(--pth);
  font-family: "Bodoni Moda", serif;
  padding: 1%;
  font-size: 9px;
  letter-spacing: 1px;
  text-align: justify;
  border-top: 1px solid ;
}

.akad .row .countdown {
  display: flex;
  background-image: var(--gradient);
  width: 97%;
  justify-content: space-around;
  align-items: center;
  color: var(--pth);
  border: 5px  double;
}


/* couple-section */
.couple {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.couple::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 37%;
  background-image: linear-gradient(180deg, white, transparent);
}

.couple .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--pth);
}

.couple .row #kalpembuka {
  position: relative;
  color: var(--coklat);
  font-family: "Bodoni Moda", serif;
  font-weight: 200;
  padding: 7% 3%;
  opacity: 0;
  -webkit-transition: 1s ease;
}

.couple .row #kalpembuka.anm.show {
  opacity: 1;
}


/* Titania Nurul Anisa */
.couple .row #fotoTitania,
.couple .row #fotoNando {
  display: flex;
  position: relative;
  width: 50%;
  padding: 13%  0;
  -webkit-animation: outfadeB 2s ease forwards;

}

.couple .row #namaTitan,
.couple .row #namaNando{
  display: flex;
  position: relative;
  width: 70%;
  -webkit-animation: outfadeB 2s ease forwards;
}

.couple .row #igTitan,
.couple .row #igNando {
  display: flex;
  position: relative;
  width: 43%;
  padding: 3% 0 10% 0;
  cursor: pointer;
  -webkit-animation: outfadeB 2s ease forwards;
}

.couple .row #fotoTitania.anm.show,
.couple .row #fotoNando.anm.show,
.couple .row #namaTitan.anm.show,
.couple .row #namaNando.anm.show,
.couple .row #igTitan.anm.show,
.couple .row #igNando.anm.show {
  -webkit-animation: anfadeB 2s ease forwards;
}

@-webkit-keyframes outfadeB {
  to {-webkit-transform: translateY(50%); opacity: 0;}
}
/* &&& */
.core .row #batasDan {
  display: flex;
  position: relative;
  padding: 50% 0;
  width: 100%;
}

/* quote-section */
.quote {
  display: flex;
  position: relative;
  z-index:1;
  width: 100%;
  background-color: var(--pth);
  justify-content: center;
}

.quote .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.quote .row #kembangq {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-animation: outfadeB 2s ease forwards;
}
.quote .row #kembangq.anm.show  {
  -webkit-animation: anmasuk1 3s ease forwards, anmk1 3.5s ease-in-out 3s infinite alternate;
}

.quote .row #kembangq2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  -webkit-animation: outfadeB 2s ease forwards;
  overflow-x: hidden;
}
.quote .row #kembangq2 {
  -webkit-animation: anmasuk2 3s ease forwards, anmk2 3.7s ease-in-out 3s infinite alternate;
}

.quote .row #tnl {
  display: flex;
  max-width: 25%;
  padding: 17% 0% 7% 61%;
  z-index: 1;
  -webkit-animation: outfadeB 2s ease forwards;
}

.quote .row .kata {
  display: flex;
  z-index: 0;
  background-color: var(--coklat);
  width: 100%;
  justify-content: center;
  padding: 15% 0;
  box-shadow: inset 0 0 45px 0px var(--htm);
}

.quote .row .kata #stampel {
  display: flex;
  position: relative;
  max-width: 90%;
  z-index: 1;
  -webkit-animation: outfadeB 2s ease forwards;
}

.quote .row #ucpan {
  display: flex;
  color: var(--coklat);
  width: 88%;
  font-size: 27px;
  text-align: left;
  padding: 10% 0;
  font-family: "Bodoni Moda", serif;
  line-height: 27px;
  z-index: 1;
  text-shadow: 13px 13px 3px rgb(0 0 0 / 17%);
  -webkit-animation: outfadeB 2s ease forwards;
}

.quote .row #tnl.anm.show ,
.quote .row #stampel.anm.show ,
.quote .row #ucpan.anm.show {
  -webkit-animation: anfadeB 2s ease forwards;
}

@-webkit-keyframes anfadeB {
  from {-webkit-transform: translateY(50%); opacity: 0;}
  to {-webkit-transform: translateY(0); opacity: 1;}
}

/* story-section */
.story {
  position: relative;
  z-index: 0;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--pth);
}

.story .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.story .row #line {
  display: flex;
  width: 30%;
  -webkit-transform: translateY(50%);
  opacity: 0;
}

.story .row #giftf {
  display: flex;
  width: 55%;
  padding: 3% 12% 5%;
  border-bottom: 2px solid var(--coklat);
  -webkit-transform: translateY(50%);
  opacity: 0;
}

@-webkit-keyframes animateto {
  to {-webkit-transform: translateY(0); opacity: 1;}
}
.story .row #line.anm.show ,
.story .row #giftf.anm.show {
  -webkit-animation: animateto 2s ease forwards;
}


.story .row .wed {
  display: flex;
  width: 95%;
  padding: 10% 0;
}
.story .row .wed .foto {
  display: flex;
  flex: 20%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-transform: translateX(-90%);
  opacity: 0;
  -webkit-transition: 2s ease;
}
.story .row .wed .foto.anm.show {
  -webkit-transform: translateX(-50%);
  opacity: 1;
}

.story .row .wed .foto #frame {
  position: absolute;
  display: flex;
  width: fit-content;
  height: 100%;
}
.story .row .wed .foto::after {
  content: '';
  display: flex;
  position: absolute;
  width: 187%;
  height: 89%;
  background-image: url(./assets/img/couple.jpg);
  background-size: cover;
  -webkit-animation: animasi-bg-foto 5s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes animasi-bg-foto {
  from {
    background-position: -60%;
  } to {
    background-position: 100%;
  }
}

.story .row .wed .hadiah {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  flex: 54%;
  font-family: "Bodoni Moda", serif;
  color: var(--coklat);
  -webkit-transform: translateY(30%);
  opacity: 1;
  -webkit-transition: 3s ease;
}

.story .row .wed .hadiah.anm.show {
  -webkit-transform: translateY(0);
  opacity: 1;
}

.story .row .wed .hadiah p {
  font-size: 8px;
  font-weight: 200;
  margin: 0;
  text-align: justify;
  line-height: 100%;
  padding-bottom: 5%;
  border-bottom: 1px solid;
  text-align-last: center;
}
.story .row .wed .hadiah span {
  font-weight: 800;
}
.story .row .wed .hadiah .alamat {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3% 0;
  border: 1px solid;
  align-items: center;
  justify-content: center;
}
.story .row .wed .hadiah .alamat #hd {
  width: 50%;
  align-self: center;
  padding: 3%;
}
.story .row .wed .hadiah .alamat h5 {
  display: flex;
  font-size: 8px;
  text-align: center;
  justify-content: center;
  margin: 0 0 10%;
  padding: 3% 0;
  width: 90%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.story .row .wed .hadiah .atmtitan,
.story .row .wed .hadiah .atmnando {
  display: flex;
  color: var(--htm);
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  border: 1px solid;
  color: var(--coklat);
}
.story .row .wed .hadiah .atmtitan #mandiri,
.story .row .wed .hadiah .atmnando #bca {
  display: flex;
  flex: 17%;
  width: 31%;
  margin: 3%;
  height: fit-content;
}
.story .row .wed .hadiah .atmtitan #noT, 
.story .row .wed .hadiah .atmnando #noN {
  display: flex;
  flex: 70%;
  flex-direction: column;
  width: 90%;
  align-items: center;
}
.story .row .wed .hadiah .atmtitan #noT h3, 
.story .row .wed .hadiah .atmnando #noN h3{
  font-size: 8px;
  margin: 0;
  padding-top: 4%;
}
.story .row .wed .hadiah .atmtitan #noT h2, 
.story .row .wed .hadiah .atmnando #noN h2 {
  font-size: 13px;
  margin: 0;
  letter-spacing: 2px;
}
.story .row .wed .hadiah .atmtitan #noT button, 
.story .row .wed .hadiah .atmnando #noN button {
  font-family: "Bodoni Moda";
  background-color: var(--coklat);
  color: var(--pth);
  border: transparent;
  width: 37%;
  margin-bottom: 7%;
  font-size: 10px;
  cursor: pointer;
}


/* RSVP-Section */
.RSVP {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
  height: 100vh;
}

.RSVP .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
}

.RSVP .row form {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 2%;
  border: 3px double var(--pth);
}

.RSVP .row #ungkapan {
  display: flex;
  width: 50%;
  padding: 0 5%;
  color: var(--pth);
  border-left: 1px solid;
  border-right: 1px solid;
  margin-bottom: 5%;
}

.RSVP .row .konfir-nama {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.RSVP .row .konfir-hadir {
  display: flex;
  width: 102%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.RSVP .row .konfir-komen {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.RSVP .row .konfir-kirim {
  display: flex;
  width: 97%;
  height: 11%;
}

.RSVP .row .konfir-form {
  display: flex;
  background-color: var(--coklat);
  width: 95%;
  height: 90%;
  border: 1px solid;
  color: var(--pth);
  font-family: 'Bodoni Moda';
  /* make un-resizeable */
  font-size: 15px;
  resize: none;
  text-align: center;
}

/* for placeholder */
.konfir-form::placeholder {
  opacity: 0.5;
  color: var(--pth);
  font-family: 'Bodoni Moda';
  text-align: center;
}

.RSVP .row button {
  width: 100%;
  background-color: var(--pth);
  border: transparent;
  font-size: 14px;
  font-family: 'Bodoni Moda';
}


.RSVP .row .tempat-komentar {
  width: 100%;
  height: 54%;
  overflow: scroll;
  display: flex;
  margin-top: 10%;
  justify-content: flex-start;
  background-color: var(--gradient);
  flex-direction: column;
  align-items: center;
}

.tempat-komentar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.RSVP .row .tempat-komentar .komentar {
  display: flex;
  padding: 3% 0;
  margin: 1% 0;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--pth);
  border-top: 1px solid var(--pth);
}

.RSVP .row .tempat-komentar .komentar .komentar__header {
  display: flex;
  width: 70%;
  font-family: 'Bodoni Moda';
  font-size: 15px;
  font-weight: 800;
  margin: 0;
  color: var(--coklat);
  background-color: var(--pth);
  padding: 1%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.RSVP .row .tempat-komentar .komentar .komentar__isi {
  display: flex;
  color: var(--pth);
  font-family: 'Bodoni Moda';
  margin: 0;
  font-size: 15px;
}

.RSVP .row .tempat-komentar .komentar .komentar__footer {
  display: flex;
  color: var(--pth);
  font-family: 'Bodoni Moda';
  margin: 0;
}

.RSVP .row .tempat-komentar .komentar .komentar__footer small {
  font-size: 5px;
}

/* Gift-section */
.gift {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  background-color: var(--htm);
  height: 90vh;
}

.gift .row {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.gift .row #layerb {
  display: flex;
  z-index: 2;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(70%);
  opacity: 0;
  -webkit-transition: 2s ease;
}

.gift .row #layerb.anm.show {
  -webkit-transform: translateY(50%);
  opacity: 1;
  -webkit-animation: naikturunbunga 10s ease-in-out infinite alternate;
}

@-webkit-keyframes naikturunbunga {
  0% {-webkit-transform: translateY(50%);}
  25% {-webkit-transform: translateY(65%);}
  75% {-webkit-transform: translateY(43%);}
  100% {-webkit-transform: translateY(63%);}
}

.gift .row #penutup {
  display: flex;
  width: 50%;
  padding: 20% 0 67%;
  scale: 0.7;
  opacity: 0;
  -webkit-transition: 3s ease;
}

.gift .row #penutup.anm.show {
  scale: 1;
  opacity: 1;
}

.gift .row #thewedding {
  display: flex;
  width: 35%;
  padding: 3%;
  -webkit-transform: translateX(0);
  opacity: 0;
  -webkit-transition: 2s ease;
}

.gift .row #thewedding.anm.show {
  -webkit-transform: translateX(70%);
  opacity: 1;
}

.gift .row #and {
  display: flex;
  width: 40%;
  padding: 2%;
  -webkit-transform: translateX(-30%);
  opacity: 0;
  -webkit-transition: 3s ease;
}

.gift .row #and.anm.show {
  -webkit-transform: translateX(0);
  opacity: 1;
}

.gift .row #Nandoo {
  display: flex;
  z-index: 3;
  width: 70%;
  padding: 1%;
  -webkit-transform: translateX(-15%);
  opacity: 0;
  -webkit-transition: 2s linear;
}

.gift .row #Nandoo.anm.show {
  -webkit-transform: translateX(15%);
  opacity: 1;
}

.gift .row #Titaniaa {
  display: flex;
  z-index: 4;
  width: 80%;
  -webkit-transform: translateX(10%);
  opacity: 0;
  -webkit-transition: 2s ease;
}

.gift .row #Titaniaa.anm.show {
  -webkit-transform: translateX(-10%);
  opacity: 1;
}


/* footer */
footer {
  display: flex;
  background-color: var(--htm);
  font-size: 9px;
  height: 10vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .row {
  display: flex;
  width: 85%;
  color: var(--pth);
  justify-content: space-between;
  padding: 1% 2%;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin: 5% 0;
}

footer .row h3 {
  font-family: "Bodoni Moda";
  font-weight: 200;
  margin: 0;
}
footer .row a {
  color: var(--pth);
  text-decoration: none;
}


@media (max-width: 320px) {

  .core .row #kembang,
  .quote .row #kembangq {
    top: -40px;
    left: -40px;
  }

  .core .row #kembang2,
  .quote .row #kembangq {
    right: -40px;
    bottom: -40px;
  }

  .core .titandannando #scroll-btn {
    bottom: 3.25em;
  }

  .akad .row .page2 .judul h1 {
    font-size: 205%;
  }

  .akad .row .page2 .info .waktu h4, .akad .row .page3 .info .resepsi .waktu h4 {
    font-size: 75%;
  }

  .akad .row .page2 .info .waktu .pukul h5, .akad .row .page3 .info .resepsi .waktu .pukul h5 {
    font-size: 10px;
  }

  .akad .row .page2 .info .waktu p, .akad .row .page3 .info .resepsi .waktu p {
    font-size: 60%;
  }

  .akad .row .page2 .info .waktu button, .akad .row .page3 .info .resepsi .waktu button {
    font-size: 10px;
  }

  .simply-countdown>.simply-section .simply-amount, .simply-countdown>.simply-section .simply-word {
    font-size: 12px;
    width: 60px;
  }

  .akad .row .page3 .info .aksen .baris1 p {
    font-size: 10px;
  }

  .akad .row .page3 .info .aksen .baris1 .gambar {
    width: 49%;
  }

  .story .row .wed .hadiah {
    flex: 60%
  }

  .story .row .wed .foto #frame {
    -webkit-transform: translateX(-23px);
  }

  @media (max-width: 250px) {

    .story .row .wed .hadiah .atmtitan #noT h3, .story .row .wed .hadiah .atmnando #noN h3 {
      text-align: center;
    }

    .story .row .wed .hadiah {
      flex: 20%;
    }

    .story .row .wed .hadiah .atmtitan #mandiri, .story .row .wed .hadiah .atmnando #bca {
      display: none;
    }
    
  }

}


/* Media Query 768px (tablet) */
@media (min-width: 481px) and (max-width: 768px) {
  /* CSS untuk tablet dan smartphone landscape */

  footer {
    padding-top: 40vh;
  }

  .RSVP .row .tempat-komentar .komentar .komentar__header{
    font-size: 25px;
  }

  .RSVP .row .tempat-komentar .komentar .komentar__isi {
    font-size: 30px;
  }

  .RSVP .row .tempat-komentar .komentar .komentar__footer small {
    font-size: 10px;
  }

  #pause-btn {
    scale: 0.45;
    bottom: -10px;
    right: -10px;
  }

  .core .row #kertas1, .core .row #kertas2 {
    width: 85%;
  }

  .core .row #tombol {
    width: 68%;
  }

  .core .row #textTamu {
    width: 65%;
  }

  .core .row #textJudul {
    width: 45%;
  }

  .core .row .slamet #sugengrawuh {
    width: 74%;
  }

  .core .row .slamet #aksen1 {
    height: 50%;
  }

  .couple .row #fotoTitania, .couple .row #fotoNando {
    width: 40%;
    padding: 2% 0
  }

  .couple .row #kalpembuka {
    font-size: 20px;
  }

  .akad .row .page1, .akad .row .page2, .akad .row .page3, .akad .row .countdown {
    width: 82%;
  }

  .simply-countdown>.simply-section .simply-amount, .simply-countdown>.simply-section .simply-word {
    font-size: 40px;
    width: 126px;
  }

  .simply-countdown>.simply-section {
    height: 85px;
  }

  .akad .row .page3 .info .aksen {
    flex: 7%;
  }

  .akad .row .page3 .info .aksen .baris1 .gambar {
    width: 50%;
  }

  .akad .row .page3 .info .aksen .baris1 p , .akad .row .page3 .info .aksen p{
    font-size: 11px;
  }

  .akad .row .page2 .info .waktu h3, .akad .row .page3 .info .resepsi .waktu h3 {
    font-size: 286%;
  }

  .akad .row .page2 .info .waktu h4, .akad .row .page3 .info .resepsi .waktu h4 {
    font-size: 155%;
  }

  .akad .row .page2 .info .waktu p, .akad .row .page3 .info .resepsi .waktu p {
    font-size: 90%;
  }

  .akad .row .page2 .info .waktu button, .akad .row .page3 .info .resepsi .waktu button,
  .akad .row .page3 .info .aksen h5 {
    font-size: 21px;
  }

  .akad .row .page3 .penutup p {
    font-size: 14px;
  }

  .simply-countdown>.simply-section .simply-amount, .simply-countdown>.simply-section .simply-word {
    font-size: 45px;
    width: 135px;
  }

  .simply-countdown>.simply-section {
    height: 100px;
  }

  .story .row .wed .hadiah p {
    font-size: 20px;
  }

  .story .row .wed .foto::after {
    width: 195%;
    height: 91%;
  }

  .story .row .wed .hadiah .alamat h5 {
    font-size: 19px;
  }

  .story .row .wed .hadiah .atmtitan #noT h3, .story .row .wed .hadiah .atmnando #noN h3 {
    font-size: 60%;
  }

  .story .row .wed .hadiah .atmtitan #noT h2, .story .row .wed .hadiah .atmnando #noN h2 {
    font-size: 150%;
  }

  .story .row .wed .hadiah .atmtitan #noT button, .story .row .wed .hadiah .atmnando #noN button {
    font-size: 95%;
  }

  .RSVP .row .konfir-form {
    height: 100%;
  }

  .RSVP .row .konfir-kirim {
    width: 98%;
    height: 17%;
  }

  .gift .row #penutup {
    padding: 20% 0 51%;
  }

  .gift .row #layerb {
    width: 85%;
  }


  @media (max-width: 618px) {

    /* disini */
    .story .row .wed .hadiah .atmtitan #noT h3, .story .row .wed .hadiah .atmnando #noN h3 {
      text-align: center;
    }

    .story .row .wed .hadiah {
      flex: 20%;
    }

    .story .row .wed .hadiah .atmtitan #mandiri, .story .row .wed .hadiah .atmnando #bca {
      display: none;
    }

    .story .row .wed .foto.anm.show {
      -webkit-transform: translateX(-66%);
    }

  }

  @media (max-width: 670px) {

    .story .row .wed .foto.anm.show {
      -webkit-transform: translateX(-70%);
    }

    .story .row .wed .foto::after {
      width: 225%;
    }

  }

  @media (max-width: 711px) {
    .story .row .wed .foto.anm.show {
      -webkit-transform: translateX(-70%);
    }
  }

}


/* ukuran 1024 atau udah mulai masuk laptop ! ini udah mulai di rotate */
@media (min-width: 769px) {

  @media (max-width: 13) {
    
  }

  .RSVP .row .tempat-komentar .komentar .komentar__header{
    font-size: 30px;
  }

  .RSVP .row .tempat-komentar .komentar .komentar__isi {
    font-size: 35px;
  }

  .RSVP .row .tempat-komentar .komentar .komentar__footer small {
    font-size: 15px;
  }


  #pause-btn {
    scale: 0.5;
    bottom: 0;
    right: 0;
  }

  .core .row #lineart {
    bottom: -55%;
  }

  .core .row #kertas1, .core .row #kertas2 {
    width: 50%;
    rotate: 90deg;
  }

  .core .row #textTamu {
    width: 30%;
  }

  .core .row #tombol {
    width: 40%;
    -webkit-transform: translateY(247%);
  }

  .core .row #textJudul {
    width: 18%;
  }

  @-webkit-keyframes judulm {
    0% {
      -webkit-transform: translate(205%, -100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(205%, -145%);
      opacity: 1;
    }
  }

  .core .row .tamu {
    font-size: 3.5vw;
    -webkit-transform: translateY(233%);
  }

  .core .row #tekanTombol {
    font-size: 4vw;
    -webkit-transform: translateY(380%);
  }

  .core .row .slamet #sugengrawuh {
    width: 37%;
  }

  .core .row .slamet #aksen1 {
    height: 50%;
  }
  
  .core .titandannando #textwedding1 {
    padding: 5%;
  }

  .core .titandannando #textpengantin1 {
    padding-top: 9%;
  }
  
  .core .titandannando #tanggal1 {
    padding-top: 16%;
  }

  .core .titandannando #scroll-btn {
    bottom: 2.25em;
  }

  .quote .row #tnl {
    max-width: 11%;
    padding: 6% 0% 3% 72%;
  }

  .quote .row .kata {
    padding: 3% 0;
  }

  .quote .row #ucpan {
    padding: 0;
    font-size: 37px;
    line-height: 40px;
  }

  .couple .row #kalpembuka {
    font-size: 23px;
  }

  .couple .row #fotoTitania, .couple .row #fotoNando {
    width: 23%;
    padding: 0;
  }

  .couple .row #namaTitan, .couple .row #namaNando {
    width: 50%;
    padding: 3% 0 1%;
  }

  .couple .row #igTitan, .couple .row #igNando {
    width: 25%;
    padding: 0% 0 10% 0;
  }

  .akad .row .page1 .judul {
    padding: 9% 0 3%; 
  }

  .akad .row .page1 .bar .tg, .akad .row .page1 .bar .wk {
    height: 80%;
  }

  .akad .row .page1 p.paragraf {
    font-size: 105%;
  }

  .akad .row .page2 .judul h1 {
    font-size: 95px;
    font-weight: 900;
    letter-spacing: 19px;
  }

  .akad .row .page2 .info .waktu h3, .akad .row .page3 .info .resepsi .waktu h3 {
    font-size: 300%;
    letter-spacing: 10px;
  }

  .akad .row .page2 .info .waktu h4, .akad .row .page3 .info .resepsi .waktu h4 {
    font-size: 250%;
  }

  .akad .row .page2 .info .waktu .pukul h5, .akad .row .page3 .info .resepsi .waktu .pukul h5 {
    font-size: 30px;
  }
  
  .akad .row .page2 .info .waktu p, .akad .row .page3 .info .resepsi .waktu p {
    font-size: 125%;
  }

  .akad .row .page2 .info .waktu button, .akad .row .page3 .info .resepsi .waktu button {
    font-size: 25px;
    padding: 3% 0;
    margin: 5% 0;
  }

  .simply-countdown>.simply-section .simply-amount, .simply-countdown>.simply-section .simply-word {
    font-size: 70px;
    width: 215px;
  }

  .simply-countdown>.simply-section .simply-word {
    font-size: 25px;
  }

  .simply-countdown>.simply-section {
    height: 135%;
  }

  .akad .row .page3 .info .resepsi h2 {
    font-size: 100px;
  }

  .akad .row .page3 .info .aksen .baris1 .gambar {
    width: 48%;
  }

  .akad .row .page3 .info .aksen {
    flex: 15%;
  }

  .akad .row .page3 .info .aksen .baris1 p {
    font-size: 18px;
  }

  .akad .row .page3 .info .aksen p {
    font-size: 13px;
  }

  .akad .row .page3 .info .aksen h5 {
    font-size: 30px;
  }

  .akad .row .page3 .penutup {
    padding: 2% 0 5%;
  }

  .akad .row .page3 .penutup p {
    font-size: 20px;
  }

  .akad .row{
    padding: 30% 0 10%;
  }

  .story .row .wed {
    padding: 10% 0 5%;
  }

  .story .row .wed .hadiah {
    flex: 25%;
  }

  .story .row .wed .hadiah .atmtitan #mandiri, .story .row .wed .hadiah .atmnando #bca {
    display: none;
  }

  .story .row .wed .hadiah p {
    font-size: 21px;
    line-height: 115%;
  }

  .story .row .wed .hadiah .alamat #hd {
    width: 55%;
  }
  
  .story .row .wed .hadiah .alamat h5 {
    font-size: 23px;
    letter-spacing: 1px;
  }

  .story .row .wed .hadiah .atmtitan #noT h3, .story .row .wed .hadiah .atmnando #noN h3 {
    font-size: 23px;
  }

  .story .row .wed .hadiah .atmtitan #noT h2, .story .row .wed .hadiah .atmnando #noN h2 {
    font-size: 35px;
    letter-spacing: 7px;
  }

  .story .row .wed .hadiah .atmtitan #noT button, .story .row .wed .hadiah .atmnando #noN button {
    font-size: 27px;
  }

  .story .row #line{
    width: 20%;
  }

  .story .row #giftf {
    width: 32%;
    padding: 3% 12% 2%;
  }

  .RSVP .row #ungkapan {
    margin-top: 0%;
    margin-bottom: 2%;
    width: 20%;
  }

  .RSVP .row form {
    padding: 2% 0%;
    height: 45%;
  }

  .RSVP .row .tempat-komentar{
    margin-top: 1%;
    height: 35%;
  }

  footer {
    padding-top: 150vh;
  }

  .gift {
    height: 100vh;
  }

  .gift .row #penutup {
    width:25%;
    padding: 15% 0 35%;
  }


  .gift .row #layerb {
    -webkit-transform: translateY(70%);
  }

  .gift .row #layerb.anm.show {
    -webkit-transform: translateY(10%);
  }

  @-webkit-keyframes naikturunbunga {
    0% {
      -webkit-transform: translateY(10%);
    }
    25% {
      -webkit-transform: translateY(15%);
    }
    75% {
      -webkit-transform: translateY(33%);
    }
    100% {
      -webkit-transform: translateY(13%);
    }
  }

  footer .row h3 {
    font-size: 15px;
  }

}


@media (min-width: 924px) {

  .story .row .wed .hadiah .atmtitan #noT h3, .story .row .wed .hadiah .atmnando #noN h3 {
    text-align: center;
  }

  .story .row .wed .hadiah {
    flex: 20%;
  }

  .story .row .wed .hadiah .atmtitan #mandiri, .story .row .wed .hadiah .atmnando #bca {
    display: none;
  }

  .story .row .wed .foto.anm.show {
    -webkit-transform: translateX(-25%);
  }

  .story .row .wed .foto::after {
    width: 138%;
  }

}

@media (min-width: 1020px) {

  .story .row .wed .hadiah .atmtitan #noT h3, .story .row .wed .hadiah .atmnando #noN h3 {
    text-align: center;
  }

  .story .row .wed .hadiah {
    flex: 45%;
  }

  .story .row .wed .hadiah .atmtitan #mandiri, .story .row .wed .hadiah .atmnando #bca {
    display: flex;
  }

  .story .row .wed .foto.anm.show {
    -webkit-transform: translateX(-25%);
  }

  .story .row .wed .foto::after {
    width: 138%;
  }

}



/* media query untuk diatas dari 2024 */
@media (min-width: 1025px) {

  .RSVP .row .tempat-komentar .komentar .komentar__header{
    font-size: 35px;
  }

  .RSVP .row .tempat-komentar .komentar .komentar__isi {
    font-size: 40px;
  }

  .RSVP .row .tempat-komentar .komentar .komentar__footer small {
    font-size: 20px;
  }

  #pause-btn {
    scale: 0.6;
    bottom: 0;
    right: 0;
  }

  .core .row #textJudul {
    width: 21%;
  }

  @-webkit-keyframes judulm {
    0% {
      -webkit-transform: translate(165%, -950%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(165%, -115%);
      opacity: 1;
    }
  }

  .core .titandannando #textwedding1 {
    padding: 4%;
  }

  .quote .row #tnl {
    max-width: 9%;
    padding: 4% 0% 2% 72%;
  }

  .quote .row .kata #stampel {
    max-width: 70%;
  }

  .couple .row #kalpembuka {
    font-size: 29px;
  }

  .couple .row #fotoTitania, .couple .row #fotoNando {
    width: 20%;
  }

  .couple .row #namaTitan, .couple .row #namaNando {
    width: 45%;
  }

  .couple .row #igTitan, .couple .row #igNando {
    width: 21%;
  }

  .akad .row .page1 .bar .tg, .akad .row .page1 .bar .wk {
    height: 110%;
  }

  .akad .row .page1 p.paragraf {
    font-size: 24px;
  }

  .akad .row .page2 .judul h1 {
    font-size: 145px;
    margin: 1% 0;
  }

  .akad .row .page2 .info .waktu h3, .akad .row .page3 .info .resepsi .waktu h3 {
    font-size: 100px;
    letter-spacing: 15px;
  }

  .akad .row .page2 .info .waktu h4, .akad .row .page3 .info .resepsi .waktu h4 {
    font-size: 55px;
  }

  .akad .row .page2 .info .waktu p, .akad .row .page3 .info .resepsi .waktu p {
    font-size: 33px;
  }
  
  .akad .row .page2 .info .waktu button, .akad .row .page3 .info .resepsi .waktu button {
    font-size: 33px;
  }

  .simply-countdown>.simply-section .simply-amount, .simply-countdown>.simply-section .simply-word {
    font-size: 95px;
    width: 310px;
  }
  
  .simply-countdown>.simply-section .simply-word {
    font-size: 39px;
  }

  .akad .row .page3 .info .aksen .baris1 p {
    font-size: 27px;
    }
  
  .akad .row .page3 .info .aksen p {
    font-size: 22px;
  }

  .akad .row .page3 .info .aksen h5 {
    font-size: 40px;
  }

  .akad .row .page3 .info .resepsi h2 {
    font-size: 105px;
    letter-spacing: 20px;
  }

  .akad .row .page3 .penutup p {
    font-size: 23px;
  }

  .story .row .wed .hadiah .alamat h5 {
    font-size: 27px;
  }

  .story .row .wed .hadiah .atmtitan #noT h3, .story .row .wed .hadiah .atmnando #noN h3 {
    font-size: 33px;
  }

  .story .row .wed .hadiah .atmtitan #noT h2, .story .row .wed .hadiah .atmnando #noN h2 {
    font-size: 42px;
    letter-spacing: 13px;
  }

  .story .row .wed .hadiah .atmtitan #noT button, .story .row .wed .hadiah .atmnando #noN button {
    font-size: 35px;
  }

  .story .row .wed .foto::after {
    width: 127%;
    height: 89%;
  }

}



/* more than */
@media (min-width: 1441px) {

  .story .row .wed .foto::after {
    width: 127%;
    height: 89%;
  }
}