.simply-countdown{
    overflow: hidden;
    display:flex;
}
    
.simply-countdown>.simply-section {
    height: 40px;
    padding: 14px 5px;
    display:flex;
    align-items: center;
    float:left;
    margin: 10px 0px;
    border-bottom: 3px double var(--pth);
    border-top: 3px double var(--pth);
}

.simply-countdown>.simply-section .simply-amount,
.simply-countdown>.simply-section .simply-word{
    display:flex;
    font-size: 20px;
    text-align:center;
    font-family: 'Bodoni Moda';
    color: var(--pth);
    border-left: 1px solid var(--pth);
    width: 75px;
    justify-content: center;
    border-right: 1px solid var(--pth);
}

.simply-countdown>.simply-section .simply-word {
    font-size: 13px;
}